.header__button_dark {
	border: 0;
	padding: 9px 11px;
	background-color: #414141;
	display: flex;
	justify-content: center;
	align-items: center;
	color: $light;
	text-align: center;
	font-family: $ff;
	font-size: 13px;
	font-style: normal;
	font-weight: $fw-medium;
	line-height: 18px;
	border-radius: 10px;
	cursor: pointer;

	&:hover {
		background-color: #515151;
	}

	&:active {
		background-color: #3A3A3A;
	}

	@media all and (min-width: $md) {
		font-size: 15px;
		line-height: normal;
		padding: 9px 13px;
		border-radius: 11px;
	}
}

.header__button_white {
	width: 100%;
	border: 0;
	padding: 9px 11px;
	background-color: $white;
	color: $dark;
	text-align: center;
	font-family: $ff;
	font-size: 13px;
	font-style: normal;
	font-weight: $fw-medium;
	line-height: 18px;
	border-radius: 10px;
	cursor: pointer;
	max-width: 131px;
	white-space: nowrap;

	span {
		display: none;

		@media all and (min-width: $md) {
			display: inline;
		}
	}

	&:hover {
		background-color: $accent;
		color: $white;
	}

	&:active {
		background-color: #FF0F4E;
		color: $white;
	}

	@media all and (min-width: $md) {
		font-size: 15px;
		line-height: normal;
		padding: 9px 16px;
		max-width: 173px;
		border-radius: 14px;
	}
}

.button {
	padding: 12px 24px;
	border: 0;
	color: $white;
	text-align: center;
	font-family: $ff;
	font-size: 14px;
	font-style: normal;
	font-weight: $fw-bold;
	line-height: normal;
	cursor: pointer;
	border-radius: 13px;
	background-color: $accent;

	&:hover {
		background-color: #FE4873;
	}

	&:active {
		background-color: #FF0F4E;
	}

	@media all and (min-width: $md) {
		font-size: 16px;
		border-radius: 19.2px;
		padding: 14.4px 26.4px;
	}
}

.tab__button {
	border: 0;
	color: #C1C6CC;
	text-align: center;
	font-family: $ff;
	font-size: 12px;
	font-style: normal;
	font-weight: $fw-regular;
	line-height: 110%;
	background-color: #F7F7F7;
	padding: 7px 11px;
	border-radius: 11px;
	cursor: pointer;

	&.active {
		background: #FFF;
		box-shadow: 0px 0.8999999761581421px 0.8999999761581421px 0px rgba(0, 0, 0, 0.06), 0px 0.8999999761581421px 7.199999809265137px 0px rgba(0, 0, 0, 0.06);
		color: #425466;
		font-weight: $fw-medium;
	}

	@media all and (min-width: $md) {
		font-size: 15.3px;
		padding: 10.8px 18px;
	}
}

.footer__lang, .footer__docs {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #D4D4D4;
	text-align: center;
	font-family: $ff;
	font-size: 14px;
	font-style: normal;
	font-weight: $fw-medium;
	line-height: normal; 
	border: 0;
	background-color: #414141;
	padding: 9px 16px;
	border-radius: 10px;
	cursor: pointer;
	position: relative;

	&_img {
		margin-right: 6px;
	}

	&_arr {
		margin-left: 6px;
	}

	&:hover {
		background-color: #414141;
	}

	&:active {
		background-color: #3A3A3A;
	}

	@media all and (min-width: $md) {
		font-size: 15px;
		background-color: transparent;
	}
}

.footer__lang, .footer__docs {
	position: relative;

	.hidden__menu {
		display: none;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		padding: 10px;
		width: 100%;
		position: absolute;
		left: 0;
		top: -120px;
		background-color: $bg;

		&_item {
			display: flex;
			cursor: pointer;
			padding: 13px 17px;
			border-radius: 10px;

			&:hover {
				background-color: #414141;
			}
	
			&:active {
				background-color: #3A3A3A;
			}
		}

		@media all and (min-width: $md) {
			top: -120px;
		}
	}

	&.clicked {
		background-color: #414141;
		.hidden__menu {
			display: block;
			animation: fade 0.5s forwards ease;

			@keyframes fade {
				0% {
					display: none;
					opacity: 0;
				}

				1% {
					display: block;
				}

				100% {
					opacity: 1;
				}
			}
		}

		.footer__lang_arr {
			transform: rotate(180deg);
		}
	}
}

.footer__docs {
	.hidden__menu {
		top: -70px;

		&_item {
			padding: 0;
			margin-bottom: 10px;

			&:last-child {
				margin-bottom: 0;
			}
			
			&:hover {
				background-color: transparent;
			}
		}

		@media all and (min-width: $md) {
			top: -100px;
		}
	}

	.hidden__menu_item {
		color: #D4D4D4;
		text-align: center;
		font-family: $ff;
		font-size: 15px;
		font-style: normal;
		font-weight: $fw-medium;
		line-height: normal; 
		text-align: left;

		&:hover {
			opacity: 1;
			color: $accent;
		}
	}
}

.footer__button {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 0;
	background-color: #54A9EB;
	padding: 9px 16px;
	color: $white;
	text-align: center;
	font-family: $ff;
	font-size: 14px;
	font-style: normal;
	font-weight: $fw-medium;
	line-height: normal;
	border-radius: 14px;
	cursor: pointer;

	&:hover {
		background-color:  #73b0df;
	}

	&:active {
		background-color:  #4a85b3;
	}

	img {
		margin-left: 10px;
		width: 13px;

		@media all and (min-width: $md) {
			width: 15px;
		}
	}

	@media all and (min-width: $md) {
		margin-left: 7px;
		font-size: 15px;
	}
}

.burger__button {
	position: relative;
	width: 18px;
	height: 16px;
	cursor: pointer;

	span {
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 3px;
		background-color: $white;
		transition: transform ease $tr;
		border-radius: 46px;

		&::before,
		&::after {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 3px;
			background-color: $white;
			border-radius: 46px;
		}

		&::before {
			top: 12px;
			width: 100%;
			left: 0;
		}

		&::after {
			top: 6px;
			left: 0;
			width: 100%;
		}
	}

	&:hover {
		opacity: $op;
	}

	&.opened {
		span {
			transform: rotate(-45deg);
			top: 40%;
		}

		span::before {
			opacity: 0;
		}

		span::after {
			transform: rotate(90deg);
			top: 0;
			left: 0;
			width: 100%;
		}
	}

	@media all and (min-width: $md) {
		display: none;
	}
}