@font-face {
    font-family: 'Gogh';
    src: url('../fonts/Gogh-Bold.eot');
    src: url('../fonts/Gogh-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gogh-Bold.woff2') format('woff2'),
        url('../fonts/Gogh-Bold.woff') format('woff'),
        url('../fonts/Gogh-Bold.ttf') format('truetype'),
        url('../fonts/Gogh-Bold.svg#Gogh-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gogh';
    src: url('../fonts/Gogh-Regular.eot');
    src: url('../fonts/Gogh-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gogh-Regular.woff2') format('woff2'),
        url('../fonts/Gogh-Regular.woff') format('woff'),
        url('../fonts/Gogh-Regular.ttf') format('truetype'),
        url('../fonts/Gogh-Regular.svg#Gogh-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gogh';
    src: url('../fonts/Gogh-ExtraBold.eot');
    src: url('../fonts/Gogh-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gogh-ExtraBold.woff2') format('woff2'),
        url('../fonts/Gogh-ExtraBold.woff') format('woff'),
        url('../fonts/Gogh-ExtraBold.ttf') format('truetype'),
        url('../fonts/Gogh-ExtraBold.svg#Gogh-ExtraBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gogh';
    src: url('../fonts/Gogh-Medium.eot');
    src: url('../fonts/Gogh-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gogh-Medium.woff2') format('woff2'),
        url('../fonts/Gogh-Medium.woff') format('woff'),
        url('../fonts/Gogh-Medium.ttf') format('truetype'),
        url('../fonts/Gogh-Medium.svg#Gogh-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

