h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
	font-family: $ff;
	font-weight: $fw-bold;
	line-height: $lh-title;
	margin: 0;
}

h1, .h1 {
	color: #14191F;
	font-family: $ff;
	font-size: 28px; 
	margin-bottom: 11px; 
	font-style: normal;
	font-weight: 800;
	line-height: 130%;
	text-align: center;

	@media all and (min-width: 360px) {
		font-size: 32px; 
	}

	@media all and (min-width: $sm) {
		font-size: 32px;
		line-height: 130%;
		margin-bottom: 12.5px;
	}

	@media all and (min-width: $md) {
		text-align: left;
		margin-bottom: 21px;
		font-size: 40px;
		max-width: 400px;
	}

	@media all and (min-width: $lg) {
		font-size: 48px;
		max-width: 100%;
	}

	@media all and (min-width: 2490px) {
		font-size: 64px;
	}
}

h2, .h2 {
	font-size: 24px;

	@media all and (min-width: $lg) {
		font-size: 36px
	}
}

h3, .h3 {
	font-size: 30px
}

h4, .h4 {
	font-size: $fs-xl;

	@media all and (min-width: $lg) {
		font-size: 24px
	}
}

h5, .h5 {
	font-size: $fs-xl
}

h6, .h6 {
	font-size: $fs-lg
}

a {
	display: inline-block;
	text-decoration: underline;
}

p {
	margin: 0;
}

b, strong {
	font-weight: $fw-bold
}