.desc {
	padding: 88px 0;

	@media all and (min-width: $md) {
		padding: 60px 0;
	}

	.container {
		padding: 0;
		max-width: 950px;

		@media all and (min-width: $md) {
			padding: 0 20px;
		}

		@media all and (min-width: 2490px) {
			max-width: 1100px;
		}
	}

	.h3 {
		color: $dark;
		font-family: $ff;
		font-size: 21px;
		font-style: normal;
		font-weight: $fw-bold;
		line-height: normal;
		margin-bottom: 16px;

		@media all and (min-width: $md) {
			font-size: 24px;
		}

		@media all and (min-width: 2490px) {
			font-size: 29px;
		}
	}

	&__items {
		display: flex;
		flex-direction: column;
		align-items: center;

		@media all and (min-width: 1024px) {
			align-items: center;
		}
	}

	&__item {
		margin-bottom: 90px;
		width: 100%;

		@media all and (min-width: $md) {
			width: auto;
			margin-bottom: 104px;
		}

		@media all and (min-width: 1024px) {
			margin-bottom: 145px;
		}

		@media all and (min-width: $xxl) {
			padding-left: 20px;
			margin-bottom: 146px;
		}

		@media all and (min-width: 2490px) {
			margin-bottom: 170px;
		}


		&:last-child {
			margin-bottom: 0;
		}

		&_inner {
			display: flex;
			align-items: center;
			flex-direction: column;
			padding-top: 30px;
			justify-content: flex-end;

			@media all and (min-width: $md) {
				flex-direction: row;
				padding-top: 0;
				justify-content: space-between;
			}
		}

		&_info {
			max-width: 380px;
			margin-top: 20px;
			padding-left: 28px;

			@media all and (min-width: $md) {
				padding: 0;
				margin-left: 20px;
			}

			@media all and (min-width: 1024px) {
				margin-left: 54px;
			}
		}

		&_text {
			color: $dark;
			font-family: $ff;
			font-size: 15px;
			font-style: normal;
			font-weight: $fw-regular;
			line-height: normal;
			max-width: 300px;

			@media all and (min-width: $md) {
				font-size: 16px;
				max-width: 100%;
			}

			@media all and (min-width: $lg) {
				font-size: 17px;
			}

			@media all and (min-width: 2490px) {
				font-size: 20px;
			}
		}

		&_link {
			color: $link;
			margin-top: 20px;
			font-size: 15px;

			&:hover {
				color: $accent;
			}

			@media all and (min-width: $md) {
				font-size: 17px;
			}
		}

		&_img {
			padding-top: 30px;
			width: 100%;
			display: flex;
			justify-content: center;
			background: #EEF1FF;

			@media all and (min-width: $md) {
				padding-top: 0;
				border-radius: 45px;
				width: auto;
			}

			@media all and (min-width: $xxl) {
				padding-top: 0;
				border-radius: 59.111px;
			}
		}
	}

	&__img_inner {
		width: 300px;
		height: 370px;

		@media all and (min-width: $md) {
			padding: 55px 55px 0 55px;
			width: 349px;
			height: 349px;
		}

		@media all and (min-width: 1024px) {
			padding: 72px 72px 0 72px;
			width: 456px;
			height: 456px;
		}

		@media all and (min-width: 2490px) {
			padding: 80px 80px 0 80px;
			width: 525px;
			height: 525px;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}