.hero {
	padding: 71px 0 117px;

	@media all and (min-width: $md) {
		padding:15.23vw 0 7.81vw;

		@media all and (min-height: 220px) {
			padding-top: 50vh
		}

		@media all and (min-height: 320px) {
			padding-top: 25vh
		}
	
		@media all and (min-height: 420px) {
			padding-top: 30vh
		}
	
		@media all and (min-height: 480px) {
			padding:15.23vw 0 7.81vw;
		}
	}

	@media all and (min-width: 1024px) {
		padding:16.11vw 0 11.43vw;

		@media all and (min-height: 220px) {
			padding-top: 50vh
		}
		
		@media all and (min-height: 320px) {
			padding-top: 25vh
		}
	
		@media all and (min-height: 420px) {
			padding-top: 30vh
		}
	
		@media all and (min-height: 480px) {
			padding:16.11vw 0 11.43vw;
		}
	}

	@media all and (min-width: 1400px) {
		padding: 132px 0 117px;

		@media all and (min-height: 220px) {
			padding-top: 50vh
		}

		@media all and (min-height: 320px) {
			padding-top: 25vh
		}
	
		@media all and (min-height: 420px) {
			padding-top: 30vh
		}
	
		@media all and (min-height: 480px) {
			padding: 132px 0 117px;
		}
	}

	@media all and (min-width: 1900px) {
		padding:9.17vw 0 8.13vw; 

		@media all and (min-height: 220px) {
			padding-top: 50vh
		}

		@media all and (min-height: 320px) {
			padding-top: 40vh
		}
	
		@media all and (min-height: 420px) {
			padding-top: 30vh
		}
	
		@media all and (min-height: 480px) {
			padding:9.17vw 0 8.13vw; 
		}
	}

	.container {
		max-width: 1000px;
	}

	&__subtitle {
		color: $dark;
		font-family: $ff;
		font-size: 15px;
		font-style: normal;
		font-weight: $fw-regular;
		line-height: normal;
		text-align: center;

		@media all and (min-width: $md) {
			font-size: 16px;
			line-height: 230%;
			text-align: left;
		}

		@media all and (min-width: $xl) {
			font-size: 17px;
			line-height: 216.471%;
		}
	}

	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-direction: column;

		@media all and (min-width: $md) {
			flex-direction: row;
		}
	}

	&__info {
		width: 100%;
		max-width: 470px;
		display: flex;
		flex-direction: column;

		@media all and (min-width: 1024px) {
			padding-left: 20px;
		}

		@media all and (min-width: 1400px) {
			padding-top: 90px;
		}

		@media all and (min-width: 1900px) {
			padding-top: 0;
		}
	}

	&__img {
		display: flex;
		justify-content: flex-end;
		height: 90vh;
		max-width: 260px;
		min-height: 300px;
		max-height: 543px;
		position: relative;

		@media all and (min-width: $md) {
			max-width: 21.48vw;
			min-height: 29.3vw;
			max-height: 44.92vw;
		}

		@media all and (min-width: 1024px) {
			max-width: 25.39vw;
			min-height: 29.3vw;
			max-height: 53.03vw;
		}

		@media all and (min-width: 1440px) {
			max-width: 18.06vw;
			min-height: 20.83vw;
			max-height: 37.71vw;
		}

		@media all and (min-width: 1900px) {
			max-width: 316px;
			min-height: 400px;
			max-height: 661px;
		}

		.hero__phone_wrapper {
			width: 100%;
			height: 100vh;
		}
	}

	&__circle {
		display: none;
		position: absolute;
		left: 40%;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 305%;
		max-width: none;
		height: auto;
		z-index: -1;

		@media all and (min-width: 1024px) {
			display: block;
		}
	}

	&__frame {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 99px;
		height: 36px;
		border-radius: 12px;
		background-color: #EEF0FA;
		color: $dark;
		text-align: right;
		font-family: $ff;
		font-size: 13px;
		font-style: normal;
		font-weight: $fw-regular;
		line-height: normal;
		transform: rotate(-1.726deg);
		margin-left: 10px;
		margin-bottom: 5px;

		@media all and (min-width: $md) {
			font-size: 15px;
			margin-bottom: 11px;
			width: 116px;
			height: 37px;
			margin-left: 0;
			margin-bottom: 13px;
		}

		@media all and (min-width: 1024px) {
			width: 121px;
			height: 39px;
		}
	}

	&__buttons {
		display: flex;
		align-items: center;
		margin-top: 31px;
		margin-bottom: 41px;
		flex-direction: column;

		@media all and (min-width: $md) {
			margin-top: 50px;
			margin-bottom: 0;
		}

		@media all and (min-width: 1024px) {
			margin-top: 82px;
			margin-bottom: 0;
		}

		.button {
			margin-bottom: 15px;
			font-weight: 500;

			@media all and (min-width: $md) {
				margin-right: 28px;
				margin-bottom: 0;
				font-weight: 700;
			}
		}

		@media all and (min-width: $md) {
			flex-direction: row;
		}
	}

	&__link {
		color: $link;
		text-align: right;
		font-family: $ff;
		font-size: 14px;
		font-style: normal;
		font-weight: $fw-regular;
		line-height: normal;
		text-decoration-line: underline;

		@media all and (min-width: $md) {
			font-size: 16px;
		}

		&:hover {
			color: $accent;
		}
	}
}