.hero {
	padding: 71px 0 117px;

	@media all and (min-width: $md) {
		padding: 11.43vw 0 11.43vw; 
	}

	@media all and (min-width: 1024px) {
		padding:10.63vw 0 8.13vw; 
	}

	@media all and (min-width: 1920px) {
		padding:9.69vw 0 6.09vw; 
	}

	.container {
		max-width: 1000px;
	}

	&__subtitle {
		color: $dark;
		font-family: $ff;
		font-size: 3.13vw;
		;
		font-style: normal;
		font-weight: $fw-regular;
		line-height: normal;
		text-align: center;

		@media all and (min-width: $sm) {
			font-size: 16px;
		}

		@media all and (min-width: $md) {
			line-height: 230%;
			text-align: left;
		}

		@media all and (min-width: $xl) {
			font-size: 17px;
			line-height: 216.471%;
		}
	}

	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-direction: column;

		@media all and (min-width: $md) {
			flex-direction: row;
		}
	}

	&__info {
		width: 100%;
		max-width: 97.92vw;
		display: flex;
		flex-direction: column;

		@media all and (min-width: $sm) {
			max-width: 470px;
		}

		@media all and (min-width: 1024px) {
			padding-left: 20px;
		}
	}

	&__img {
		display: flex;
		justify-content: flex-end;
		height: 100%;
		max-width: 54.17vw;
		min-height: 62.5vw;
		max-height: 113.13vw;
		position: relative;
		
		@media all and (min-width: $sm) {
			width: 100%;
			height: 100%;
			max-width: 260px;
			min-height: 300px;
			max-height: 543px;
		}

		@media all and (min-width: $md) {
			width: 100%;
			height: 100%;
			max-width: 220px;
			min-height: 250px;
			max-height: 460px;
		}

		@media all and (min-width: 1024px) {
			width: 100%;
			height: 100%;
			max-width: 260px;
			min-height: 300px;
			max-height: 543px;
		}

		@media all and (min-width: 1440px) {
			width: 100%;
			height: 100%;
			max-width: 260px;
			min-height: 300px;
			max-height: 543px;
		}

		@media all and (min-width: 1900px) {
			width: 100%;
			height: 100%;
			max-width: 316px;
			min-height: 400px;
			max-height: 661px;
		}

		@media all and (min-width: 2560px) {
			width: 100%;
			height: 100%;
			max-width: 390px;
			min-height: 400px;
			max-height: 813px;
		}

		.hero__phone_wrapper {
			width: 100%;
			height: 100%;
		}
	}

	&__circle {
		display: none;
		position: absolute;
		left: 40%;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 305%;
		max-width: none;
		height: auto;
		z-index: -1;

		@media all and (min-width: 1024px) {
			display: block;
		}
	}

	&__frame {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 20.63vw;
		height: 7.5vw;
		border-radius: 12px;
		background-color: #EEF0FA;
		color: $dark;
		text-align: right;
		font-family: $ff;
		font-size: 2.71vw;
		font-style: normal;
		font-weight: $fw-regular;
		line-height: normal;
		transform: rotate(-1.726deg);
		margin-left: 10px;
		margin-bottom: 5px;

		@media all and (min-width: $sm) {
			width: 99px;
			height: 36px;
			font-size: 13px;
		}

		@media all and (min-width: $md) {
			font-size: 15px;
			margin-bottom: 11px;
			width: 116px;
			height: 37px;
			margin-left: 0;
			margin-bottom: 13px;
		}

		@media all and (min-width: 1024px) {
			width: 121px;
			height: 39px;
		}
	}

	&__buttons {
		display: flex;
		align-items: center;
		margin-top: 6.46vw;
		margin-bottom: 8.54vw;
		flex-direction: column;

		@media all and (min-width: $sm) {
			margin-top: 6.46vw;
			margin-bottom: 8.54vw;
		}

		@media all and (min-width: $md) {
			margin-top:6.51vw; 
			margin-bottom: 0;
		}

		@media all and (min-width: 1024px) {
			margin-top:4.88vw; 
			margin-bottom: 0;
		}

		.button {
			margin-bottom: 3.13vw;
			font-weight: 500;
			padding: 2.5vw 5vw;
			font-size: 2.92vw;

			@media all and (min-width: $sm) {
				margin-bottom: 15px;
				padding: 12px 24px;
				font-size: 14px;
			}

			@media all and (min-width: $md) {
				font-size: 16px;
				padding: 14.6px 26.5px;
				margin-right: 28px;
				margin-bottom: 0;
				font-weight: 700;
			}
		}

		@media all and (min-width: $md) {
			flex-direction: row;
		}
	}

	&__link {
		color: $link;
		text-align: right;
		font-family: $ff;
		font-size: 2.92vw;
		font-style: normal;
		font-weight: $fw-regular;
		line-height: normal;
		text-decoration-line: underline;

		@media all and (min-width: $sm) {
			font-size: 14px;
		}

		@media all and (min-width: $md) {
			font-size: 16px;
		}

		&:hover {
			color: $accent;
		}
	}
}