.reactions {
	padding: 39px 0;
	position: relative;

	@media all and (min-width: $md) {
		padding: 60px 0;
	}

	@media all and (min-width: 1400px) {
		padding: 177px 0 65px;
	}

	@media all and (min-width: 1900px) {
		padding: 177px 0 121px;
	}

	.container {
		max-width: 500px;
	}

	&__items {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 17px;

		@media all and (min-width: $md) {
			margin-bottom: 20px;
		}
	}

	&__item {
		padding: 9px 11px; 
		background-color: #F5F7FF;
		border-radius: 12.667px;
		margin-right: 9px;
		cursor: pointer;
		position: relative;

		@media all and (min-width: $md) {
			padding: 11.4px 14px;
		}

			#my-canvas {
				width: 1920px;
				height: 900px;
				position: absolute;
				top: 50%;
				left: 50%;
				pointer-events: none;
				z-index: 100;
				transform: translate(-50%,-50%);
			}
		&:last-child {
			margin-right: 0;
		}

		&.active {
			background-color: #DFE5FF;

			.reactions__img {
				animation: scale 0.5s forwards linear;

				@keyframes scale {
					0% {
						scale: 1;
					}

					50% {
						scale: 1.3;
					}

					100% {
						scale: 1;
					}
				}
			}
		}
	}

	&__inner {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
	}

	&__text {
		margin: 0 auto;
		color: $dark;
		text-align: center;
		font-family: $ff;
		font-size: 15px;
		font-style: normal;
		font-weight: $fw-regular;
		line-height: normal; 
		max-width: 380px;

		@media all and (min-width: $md) {
			font-size: 16px;
		}

		@media all and (min-width: $lg) {
			font-size: 17px;
		}
	}

	&__img {
		width: 17px;
		height: 15px;

		@media all and (min-width: $md) {
			width: 22px;
			height: 22px;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	&__value {
		color: #1E93FF;
		font-family: $ff;
		font-size: 11px;
		font-style: normal;
		font-weight: $fw-medium;
		line-height: normal;
		margin-left: 5px;

		@media all and (min-width: $md) {
			font-size: 13.933px;
		}
	}
}

.hidden__anchor {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: -50px;
}