.tarrifs {
	padding: 75px 0;

	@media all and (min-width: $md) {
		padding: 182px 0;
	}

	.container {
		max-width: 1230px;
	}

	.h2 {
		color: $dark;
		text-align: center;
		font-family: $ff;
		font-size: 26px;
		font-style: normal;
		font-weight: 800;
		line-height: 110%;
		margin-bottom: 36px;

		@media all and (min-width: $md) {
			font-size: 38px;
			margin-bottom: 48px;
		}
	}

	&__buttons {
		width: 145px;
		padding: 4px;
		display: flex;
		align-items: center;
		border-radius: 13.5px;
		background: #F7F7F7;
		margin: 0 auto 30px auto;

		@media all and (min-width: $md) {
			width: 200px;
		}
	}

	.tarrif__tabs {
		display: none;

		&.active {
			display: block;
		}
	}

	.tarrif__tab_items {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		align-items: center;

		@media all and (min-width: $md) {
			flex-direction: row;
			margin: 0 12px;
			align-items: flex-start;
		}

		.tarrif__subtitle {
			color: $dark;
			font-family: Gogh;
			font-size: 18px;
			font-style: normal;
			font-weight: $fw-medium;
			line-height: normal;
			margin-bottom: 8px;

			@media all and (min-width: $md) {
				font-size: 18.9px;
				margin-bottom: 18px;
			}
		}

		.h6 {
			color: $dark;
			font-family: $ff;
			font-size: 25px;
			font-style: normal;
			font-weight: $fw-bold;
			line-height: normal;
			margin-bottom: 23px;

			@media all and (min-width: $md) {
				font-size: 26.1px;
				margin-bottom: 30px;
			}
		}

		.tarrif__text {
			display: flex;
			align-items: center;
			color: $dark;
			font-family: $ff;
			font-size: 15px;
			font-style: normal;
			font-weight: $fw-regular;
			line-height: 27px;
			margin-bottom: 5px;

			@media all and (min-width: $md) {
				margin-bottom: 8px;
			}

			&:last-child {
				margin-bottom: 0;
			}

			span {
				font-weight: $fw-bold;
				margin-right: 2px;
			}

			@media all and (min-width: $md) {
				font-size: 17px;
			}

			&.disabled {
				color: #C1C6CC;
			}

			.first__img {
				margin-right: 9px;
			}

			.last__img {
				margin-left: 9px;
			}
		}

		.button {
			margin-top: 17px;
			padding: 11px 18px;
			font-size: 15px;
			font-weight: $fw-medium;

			@media all and (min-width: $md) {
				margin-top: 23.5px;
			}
		}
	}

	.tarrif__tab_item {
		width: 100%;
		max-width: 285px;
		position: relative;
		z-index: 2;
		overflow: hidden;
		padding: 10px 25px 25px 21px;

		@media all and (min-width: $md) {
			max-width: none;
			padding: 0 12px;
			width: calc(100% / 4);
		}

		.tab__item_inner {
			position: relative;
			display: flex;
			flex-direction: column;
			padding: 23px;
			width: 100%;
			height: 100%;
			background-color: #F7F7F7;
			border-radius: 25.2px;
			overflow: hidden;

			&.popular {
				position: relative;

				&::after {
					content: 'Популярный';
					position: absolute;
					right: -37px;
					top: 28px;
					display: flex;
					justify-content: center;
					align-items: center;
					background-color: #DCFFDB;
					width: 150.871px;
					height: 24.731px;
					color: #10B302;
					font-family: $ff;
					font-size: 12.6px;
					font-style: normal;
					font-weight: $fw-regular;
					line-height: normal;
					transform: rotate(45deg);
				}
			}
		}
	}
}