.header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	z-index: 100;
	background: $bg;

	@media all and (min-width: $md) {
		background-color: transparent;
		top: 26px;
	}

	@media all and (min-width: 1900px) {
		top: 44px;
	}

	.container {
		padding: 0 7px 0 12px;

		@media all and (min-width: $md) {
			padding: 0 20px;
		}
	}

	&.scrolled {
		.header__button_white {
			background-color: $accent;
			color: $white;

			&:hover {
				background-color: #FE4873;
			}
		
			&:active {
				background-color: #FF0F4E;
			}
		}
	}

	.container {
		max-width: 784px;
	}

	&__wrapper {
		width: 100%;
		padding: 7px 0;
		display: flex;
		align-items: center;
		background-color: $bg;
		border-radius: 21px;

		@media all and (min-width: $md) {
			padding: 8px 8px 8px 20px;
		}

		@media all and (min-width: $xl) {
			padding: 7px 7px 7px 24px;
		}
	}

	&__logo {
		width: 60.5px;
		margin-left: 11px;

		@media all and (min-width: $md) {
			margin-right: 23px;
			width: 75px;
		}

		&:hover {
			opacity: $op;
		}
	}

	&__nav {
		display: none;

		@media all and (min-width: $md) {
			display: block;
		}

		&_link {
			padding: 9px 13px;
			color: $light;
			text-align: center;
			font-family: Gogh;
			font-size: 15px;
			font-style: normal;
			font-weight: 500;
			line-height: normal; 
			text-decoration: none;
			border-radius: 11px;

			&:hover {
				background-color:  #414141;
			}

			&:active {
				background-color: #3A3A3A;
			}
		}
	}

	&__buttons {
		display: flex;
		align-items: center;
		margin-left: auto;
	}

	.header__button_dark {
		margin-right: 7px;
	}
}